@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body { font-family: 'Oswald', sans-serif; }
/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { 
  width: 100%;
  padding: 5px 0 20px;
  position: absolute;
  top: 5px;
  background-color: rgba(0,0,0,.4);
  z-index: 2;
 }

 header .wrapper { width: 95%; }

.container::before {
  width: 100%;
  height: 6px;
  background-color: #000;
  position: absolute;
  top: 0;
  content: '';
  z-index: 3;
}

figure { 
  width: 16px;
  height: 16px;
}

.home {
  background: url("../images/sprite.png") no-repeat 0 0;
	width: 16px;
	height: 15px;
}

.home:hover {
  background: url("../images/sprite.png") no-repeat 0 -17px;
	width: 16px;
	height: 15px;
}

.facebook {
  background: url("../images/sprite.png") no-repeat 0 -42px;
	width: 16px;
	height: 16px;
}

.twitter {
  background: url("../images/sprite.png") no-repeat -19px -42px;
	width: 17px;
	height: 16px;
}

.pinterest {
  background: url("../images/sprite.png") no-repeat -40px -42px;
	width: 17px;
	height: 16px;
}

.insta {
  background: url("../images/sprite.png") no-repeat -60px -42px;
	width: 16px;
	height: 16px;
}

.tumblr {
  background: url("../images/sprite.png") no-repeat -79px -42px;
	width: 16px;
	height: 16px;
}

.youtube {
  background: url("../images/sprite.png") no-repeat -98px -42px;
	width: 17px;
	height: 16px;
}

#share {
  background: url("../images/sprite.png") no-repeat 0 -87px;
	width: 20px;
	height: 20px;
}

#share:hover {
  background: url("../images/sprite.png") no-repeat 0 -132px;
	width: 20px;
	height: 20px;
}

#search {
  background: url("../images/sprite.png") no-repeat -44px -87px;
	width: 21px;
	height: 21px;
}

#search:hover {
  background: url("../images/sprite.png") no-repeat -44px -132px;
	width: 21px;
	height: 21px;
}

#hamburger {
  background: url("../images/sprite.png") no-repeat -89px -87px;
	width: 19px;
	height: 17px;
}

#hamburger:hover {
  background: url("../images/sprite.png") no-repeat -89px -132px;
	width: 19px;
	height: 17px;
}

#hamburger:hover .menu ul {
  opacity: 1;
}

.menu figure,
.menu ul { display: none; }

header .wrapper { display: flex; }

h1 {
  flex-basis: 50%;
  align-self: flex-end;
}

.menu { flex-basis: 50%; }

.social-icons {
  display: flex;
  justify-content: end;
}

.mobile-nav {
  display: flex;
  gap: 9px;
  justify-content: end;
}

.social-icons span { 
  text-transform: uppercase;
  font-size: 7px;
  color: #fff; 
  gap: 4px;
}

.social-icons{ margin-bottom: 5px; }

.social-icons span:nth-of-type(1)::after {
  margin: 0 2px;
  content: "\007C";
}

.nav-links a:hover { color: #E20493; }
h1 a:hover { transform: scale(1.1); }
.search-div img { padding-right: 5px; }

.nav-links { 
  font-size: 15px;
  text-transform: uppercase;
 }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* .banner-section {
  width: 100%;
  height: auto;
  padding: 132px 0;
  background: url("../images/banner.jpg") no-repeat center center / cover;
} */

.banner-section .wrapper { width: 100%; }

.slider-images li:nth-of-type(2),
.slider-images li:nth-of-type(3),
.slider-images li:nth-of-type(4) { display: none; }

.slider-images li img {
  min-height: 230px;
  object-fit: cover;
}

#left-arrow {
  background: url("../images/sprite.png") no-repeat -132px -87px;
	width: 17px;
	height: 30px;
  left: 2%;
}

#right-arrow {
  background: url("../images/sprite.png") no-repeat -151px -87px;
	width: 17px;
	height: 30px;
  right: 2%;
}

.banner-section { position: relative; }

.dot-sec {
  bottom: 23px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#left-arrow, #right-arrow {
  position: absolute;
  bottom: 78px;
}


/*gallery section*/

.gallery-section .wrapper { width: 97%; }
.gallery li {
  width: 100%;
  margin-bottom: 10px;
}

.gray { position: relative; }
.gray img { width: 67%; }

.gray::after {
  content: '';
  width: 32%;
  height: 100%;
  position: absolute;
  right: -1px;
  background-color: #D8D8D8;
}

.gallery li:nth-of-type(4) { margin-bottom: 47%; }
.gallery li:last-child,
.hover-div { display: none; }

form {
  display: flex;
  align-items: center;
  background: #6D6E72;
  justify-content: center;
}

.search-div input {
  width: 70px;
  border: none;
  background: #6D6E72;
  outline: none;
}

.search-div input:focus {
  padding-left: 5px;
  color: #fff;
}
/*gallery section end*/



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
  padding: 15px 0;
  margin-bottom: 4px;
  background-color: #000; 
}

.copyright p { 
  color: #E0E0E2;
  font-size: 8px;
  text-align: center;
}

.footer-menu { display: none; }


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/ 

/*media query for 480px starts here*/
@media only screen and (min-width: 480px) {
  .copyright p { font-size: 9px; }
}  

/*media query for 540px starts here*/
@media only screen and (min-width: 540px) {
  .copyright p { font-size: 10px; }
  #left-arrow, #right-arrow { bottom: 100px; }
}  

/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {
  #left-arrow, #right-arrow { bottom: 150px; }
  .copyright p { font-size: 11px; }
}  

/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
  #left-arrow, #right-arrow { bottom: 200px; }
  .copyright p { font-size: 12px; }
  .social-icons { margin-bottom: 8px; }
}  

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {
figure {
  background: #6D6E71;
  padding-left: 50px;
}

.social-icons figure,
.social-icons ul,
nav .nav-menu { display: block; }

.mobile-nav { display: none; }

.social-icons {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

nav .nav-menu { 
  display: flex;
  justify-content: end;
  align-items: center;
}

nav .nav-menu li {  padding: 0 10px; }
.lang span:nth-of-type(1)::after { display: none; }

.lang span:nth-of-type(1) {
  padding-right: 7px;
  border-right: 1px solid #A9A9A9;
}

.nav-links {
  padding: 0 10px;
  border-right: 2px solid #A9A9A9;
  line-height: 14px;
}

.nav-links:last-child { 
  padding-right: 0;
  border-right: none;
 }

.nav-links a { color: #E5E5E6; }
.banner-section { margin-bottom: 20px; }
.gallery li:last-child { display: block; }
.gray::after { display: none; }
.social-icons span { font-size: 10px; }

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-section .wrapper { width: 70%; }
.gray img { width: 100%; }
.gray { flex-basis: 32%; }
.gallery li:nth-of-type(1) { flex-basis: 32%; }
.gallery li:nth-of-type(2) { flex-basis: 66%; }

.gallery li:last-child { 
  flex-basis: 100%;
  margin-bottom: 70px;
 }

.gallery li:nth-of-type(4) { margin-bottom: 0; }
.footer-menu { display: block; }

footer {
  display: flex;
  justify-content: space-around;
}

.footer-social-icons {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 5px
}

.copyright { align-self: flex-end; }

.gallery li .hover-div { display: block; }
.gallery li .hover-div img { width: 15px; }
.gallery li { position: relative; }

.gallery li .hover-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}

.gallery li:hover .hover-div {  opacity: 1; }
.gallery li:hover { cursor: pointer; }

.gallery li:hover { 
  -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
 }

.hover-div span {
  text-transform: uppercase;
  color: #EE49AA;
  font-size: 16px;
  font-weight: 700;
}

.facebook:hover {
  background: url("../images/sprite.png") no-repeat 0 -61px;
	width: 16px;
	height: 16px;
}

.twitter:hover {
  background: url("../images/sprite.png") no-repeat -19px -61px;
	width: 17px;
	height: 16px;
}

.pinterest:hover {
  background: url("../images/sprite.png") no-repeat -40px -61px;
	width: 17px;
	height: 16px;
}

.insta:hover {
  background: url("../images/sprite.png") no-repeat -60px -61px;
	width: 16px;
	height: 16px;
}

.tumblr:hover {
  background: url("../images/sprite.png") no-repeat -79px -61px;
	width: 16px;
	height: 16px;
}

.youtube:hover {
  background: url("../images/sprite.png") no-repeat -98px -61px;
	width: 17px;
	height: 16px;
}

.banner-section .wrapper,
.slider-images li,
.slider-images li a { width: 100%; }

.banner-section .wrapper { max-width: 2000px; }
}

/*media query for 1536px starts here*/
@media only screen and (min-width: 1536px) {
.container::before { height: 10px; }
header { padding: 11px 0 30px; }
header .wrapper { width: 72%; }

.social-icons { 
  margin-bottom: 15px;
  gap: 7px;
 }

.social-icons span { font-size: 12px; }

.social-icons ul {
  display: flex;
  gap: 5px
}

header { padding: 16px 0 30px; }
.lang { padding-right: 17px; }
.menu { padding-right: 5px; }

.nav-menu li:nth-of-type(1) a,
.nav-menu li:nth-of-type(2) a,
.nav-menu li:nth-of-type(5) a { 
  letter-spacing: -1px;
 }

 nav .nav-menu li {
  padding: 0 8px;
}
}