@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

body { font-family: 'Oswald', sans-serif; }
/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { 
  width: 100%;
  padding: 5px 0 20px;
  position: absolute;
  z-index: 2;
  top: 5px;
  background-color: rgba(0,0,0,.4);
 }

 header .wrapper { width: 95%; }

.container::before {
  width: 100%;
  height: 6px;
  position: absolute;
  z-index: 3;
  top: 0;
  background-color: #000;
  content: '';
}

.facebook,
.twitter,
.pinterest,
.insta,
.tumblr,
.youtube { height: 16px; }

.home, 
.facebook,
.insta,
.tumblr {
  width: 16px;
}

.twitter,
.pinterest,
.youtube {
  width: 17px;
}

.home {
  height: 15px;
  background: url("../images/sprite.png") no-repeat 0 0;
}

.home:hover { background: url("../images/sprite.png") no-repeat 0 -17px; }
.facebook { background: url("../images/sprite.png") no-repeat 0 -42px; }
.twitter { background: url("../images/sprite.png") no-repeat -19px -42px; }
.pinterest { background: url("../images/sprite.png") no-repeat -40px -42px; }
.insta { background: url("../images/sprite.png") no-repeat -60px -42px; }
.tumblr { background: url("../images/sprite.png") no-repeat -79px -42px; }
.youtube { background: url("../images/sprite.png") no-repeat -98px -42px; }



#share {
  width: 20px;
	height: 20px;
  background: url("../images/sprite.png") no-repeat 0 -87px;
}

#search {
  width: 21px;
	height: 21px;
  background: url("../images/sprite.png") no-repeat -44px -87px;
}

#hamburger {
  width: 19px;
	height: 17px;
  background: url("../images/sprite.png") no-repeat -89px -87px;
}

#share:hover { background: url("../images/sprite.png") no-repeat 0 -132px; }
#search:hover { background: url("../images/sprite.png") no-repeat -44px -132px; }
#hamburger:hover { background: url("../images/sprite.png") no-repeat -89px -132px; }
.social-icons ul { display: none; }

.share-options {
  width: 100%;
  padding: 10px 0;
  display: flex;
  position: absolute;
  top: 69px;
  left: 0px;
  background: #000;
  flex-direction: column;
  gap: 7px;
  text-transform: uppercase;
}

.share-options li,
.mobile-nav-menu li { padding: 0 3%; }

.share-options li a,
.mobile-nav-menu li a { 
  color: #fff;
  font-size: 12px;
}

.mobile-nav-menu li:nth-of-type(1) { display: none; }

.mobile-nav-menu { 
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 69px;
  left: 0px;
  display: flex ;
  background: #000;
  flex-direction: column;
  text-transform: uppercase;
  gap: 8px;
 }

.mobile-nav-menu { display: none; }
#hamburger:hover .mobile-nav-menu { display: flex; }

.mobile-nav > ul { 
  display: flex;
  gap: 5px;
}

.share-options { display: none; }
.mobile-nav ul li:nth-of-type(1):hover .share-options { display: flex; }
.mobile-nav ul li:nth-of-type(3):hover .mobile-nav-menu { display: flex; }

nav { display: none; }
header .wrapper { display: flex; }

h1 {
  align-self: flex-end;
  flex-basis: 50%;
}

.menu { flex-basis: 50%; }

.social-icons {
  display: flex;
  justify-content: end;
}

.mobile-nav {
  display: flex;
  gap: 9px;
  justify-content: end;
}

.social-icons span { 
  color: #fff; 
  font-size: 7px;
  gap: 4px;
  text-transform: uppercase;
}

.social-icons{ margin-bottom: 5px; }

.social-icons span:nth-of-type(1)::after {
  margin: 0 2px;
  content: "\007C";
}

.nav-links a:hover { color: #E20493; }
h1 a:hover { transform: scale(1.1); }
.search-div img { padding-right: 5px; }

.nav-links { 
  font-size: 15px;
  text-transform: uppercase;
}

form { display: none; }
 /* .mobile-nav { display: block; } */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner-section .wrapper { width: 100%; }

.slider-images li:nth-of-type(2),
.slider-images li:nth-of-type(3),
.slider-images li:nth-of-type(4) { display: none; }

.slider-images li img {
  min-height: 230px;
  object-fit: cover;
}

#left-arrow,
#right-arrow {
  width: 17px;
	height: 30px;
}

#left-arrow {
  left: 2%;
  background: url("../images/sprite.png") no-repeat -132px -87px;
}

#right-arrow {
  right: 2%;
  background: url("../images/sprite.png") no-repeat -151px -87px;
}

.banner-section { position: relative; }

.dot-sec {
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translate(-50%, 0);
}

#left-arrow, #right-arrow {
  position: absolute;
  bottom: 78px;
}

/*gallery section*/
.gallery-section .wrapper { width: 97%; }

.gallery li {
  width: 100%;
  margin-bottom: 10px;
}

.gray { position: relative; }
.gray img { width: 67%; }

.gray::after {
  width: 32%;
  height: 100%;
  position: absolute;
  right: -1px;
  background-color: #D8D8D8;
  content: '';
}

.gallery li:nth-of-type(4) { margin-bottom: 47%; }
.gallery li:last-child,
.hover-div { display: none; }

.search-div input {
  width: 70px;
  border: none;
  background: #6D6E72;
  outline: none;
}

.search-div input:focus {
  padding-left: 5px;
  color: #fff;
}
/*gallery section end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { background-color: #000; }
footer  .wrapper{ 
  padding: 15px 0;
  margin-bottom: 4px;
}

.copyright p { 
  color: #E0E0E2;
  font-size: 8px;
  text-align: center;
}

.footer-menu { display: none; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/ 

/*media query for 480px starts here*/
@media only screen and (min-width: 480px) {
.copyright p { font-size: 9px; }
}  

/*media query for 540px starts here*/
@media only screen and (min-width: 540px) {
.copyright p { font-size: 10px; }
#left-arrow, #right-arrow { bottom: 100px; }
}  

/*media query for 768px starts here*/
@media only screen and (min-width: 768px) {
#left-arrow, #right-arrow { bottom: 150px; }
.copyright p { font-size: 11px; }
}  

/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
#left-arrow, #right-arrow { bottom: 200px; }
.copyright p { font-size: 12px; }
.social-icons { margin-bottom: 8px; }
}  

/*media query for 1024px starts here*/
@media only screen and (min-width: 1024px) {

form {
  display: flex;
  align-items: center;
  background: #6D6E72;
  justify-content: center;
}

.social-icons figure,
.social-icons ul,
nav .nav-menu { display: block; }

.mobile-nav { display: none; }

.social-icons {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

nav .nav-menu,
.footer-nav-menu { 
  display: flex;
  align-items: center;
  justify-content: end;
}

nav .nav-menu li {  padding: 0 10px; }
.lang span:nth-of-type(1)::after { display: none; }

.lang span:nth-of-type(1) {
  padding-right: 7px;
  border-right: 1px solid #A9A9A9;
}

.nav-links {
  padding: 0 10px;
  border-right: 2px solid #A9A9A9;
  line-height: 14px;
}

.nav-links:last-child { 
  padding-right: 0;
  border-right: none;
}

.nav-links a { color: #E5E5E6; }
.banner-section { margin-bottom: 20px; }
.gallery li:last-child { display: block; }
.gray::after { display: none; }
.social-icons span { font-size: 10px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-section .wrapper { width: 70%; }
.gray img { width: 100%; }
.gray { flex-basis: 32%; }
.gallery li:nth-of-type(1) { flex-basis: 32%; }
.gallery li:nth-of-type(2) { flex-basis: 66%; }

.gallery li:last-child { 
  margin-bottom: 70px;
  flex-basis: 100%;
}

.gallery li:nth-of-type(4) { margin-bottom: 0; }
.footer-menu { display: block; }

footer .wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-social-icons {
  margin-bottom: 15px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.copyright { align-self: flex-end; }
.gallery li .hover-div { display: block; }
.gallery li .hover-div img { width: 15px; }
.gallery li { position: relative; }

.gallery li .hover-div {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%);
}

.gallery li:hover .hover-div {  opacity: 1; }
.gallery li:hover { cursor: pointer; }

.gallery li:hover { 
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
 }

.hover-div span {
  color: #EE49AA;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.facebook:hover { background: url("../images/sprite.png") no-repeat 0 -61px; }
.twitter:hover { background: url("../images/sprite.png") no-repeat -19px -61px; }
.pinterest:hover { background: url("../images/sprite.png") no-repeat -40px -61px; }
.insta:hover { background: url("../images/sprite.png") no-repeat -60px -61px; }
.tumblr:hover { background: url("../images/sprite.png") no-repeat -79px -61px; }
.youtube:hover {  background: url("../images/sprite.png") no-repeat -98px -61px; }

.banner-section .wrapper,
.slider-images li,
.slider-images li a { width: 100%; }

.banner-section .wrapper { max-width: 2000px; }
nav { display: block; }
}

/*media query for 1536px starts here*/
@media only screen and (min-width: 1536px) {
.container::before { height: 10px; }
header { padding: 11px 0 30px; }
header .wrapper { width: 72%; }

.social-icons { 
  margin-bottom: 15px;
  gap: 7px;
}

.social-icons span { font-size: 12px; }

.social-icons ul {
  display: flex;
  gap: 5px
}

header { padding: 16px 0 30px; }
.lang { padding-right: 17px; }
.menu { padding-right: 5px; }


.nav-menu li:nth-of-type(5) a {  letter-spacing: -1px; }
nav .nav-menu li { padding: 0 8px; }
.search-div input { width: 67px; }
.social-icons form  { padding-right: 8px; }
.nav-menu li:nth-of-type(1) { padding-right: 15px; }
h1 a img { height: 25px; }
h1 { padding-left: 1px; }

#left-arrow {
  width: 29px;
	height: 50px;
  left: 5.2%;
  background: url("../images/sprite.png") no-repeat 0 -163px;
}

#right-arrow {
  width: 29px;
	height: 50px;
  right: 5.2%;
  background: url("../images/sprite.png") no-repeat -31px -163px;
}

#left-arrow,
#right-arrow { top: 360px; }

.dot-sec { bottom: 56px; }
.dot-sec li { padding-right: 2px; }

#left-arrow:hover,
#right-arrow:hover { transform: scale(1.3); }

.dot-sec li a:hover { transform: scale(1.5); }
.banner-section { margin-bottom: 23px; }
.gallery-section .wrapper { width: 66%; }

.gallery li:nth-of-type(1),
.gallery .gray { flex-basis: 32.3%; }

.gallery li:nth-of-type(2) { flex-basis: 66.2%; }
.gallery li { margin-bottom: 15px; }

footer .wrapper{ 
  width: 94%;
  padding: 31px 0 50px; 
  max-width: 2000px;
}

.copyright p {
  color: #DBDBDD;
  font-size: 10px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.footer-social-icons { margin-bottom: 23px; }
footer { background-color: #000; }

.footer-nav-menu li:nth-of-type(6),
.footer-nav-menu li:nth-of-type(5) { letter-spacing: -2px; }

.nav-links { font-size: 15px; }

.footer-nav-menu li:nth-of-type(2) { padding-left: 20px; }
}